body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: right;
    padding: 30px 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  
  section {
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 0x;
    padding: 20px;
  }
  
  p {
    font-size: 18px;
    margin-top: 10px;
    padding: 20px;
  }
  img {
    display: block;
    margin: 10px auto;
    max-width: 50%;
    
  }
  a {
    color: blue;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  
  a:hover {
    color: blue;
    transform: translateY(-3px);
  }
  ul {
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .footer-left img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .footer-right h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-right li {
    margin-right: 20px;
  }
  
  .footer-right a {
    color: #fff;
    text-decoration: none;
  }
  @media only screen and (min-width: 1024px) {
    /* styles for laptops */
  }
  
  @media only screen and (max-width: 1024px) {
    /* styles for iPhone 12 Pro */
  }
  
  